* {
  box-sizing: border-box;
}

.container {
  width: 30%;
  margin: 5% auto;
  padding: 20px;
  background-color: #8c8f8c;
  border-radius: 1%;
}

.container h1 {
  margin-bottom: 15px;
  padding: 0 0 10px 0;
  box-shadow: 0px 3px 3px -1px #b1acac;
  color: #fff;
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
}

.container h2 {
  padding-top: 10px;
  color: #fff;
  font-size: 18px;
}

.container .error {
  color: #ff0000;
}

form {
  padding: 10px 0;
}

form input {
  width: 60%;
  padding: 4px;
  border: 2px solid#5252d9;
  background-color: transparent;
  color: #fff;
  outline: none;
}

form .btn {
  margin-left: 15px;
  padding: 8px 20px;
  border: 1px solid #fff;
  background-color: #5252d9;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
}